form.login {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 0.4rem;
  width: 30%;
  /* height: 100%; */
  margin: 4rem;
  background-color: var(--post-background-color);
  border-radius: var(--element-radius);
  padding: 3rem calc(var(--element-radius));
  box-shadow: var(--box-shadow-big);
  font-family: var(--main-font);
}

form.login input {
  box-sizing: border-box;
  height: var(--btn-height);
  border: none;
  border-radius: calc(var(--element-radius) / 2);
  padding: calc(var(--element-radius) / 3);
  margin: 0;
  font-family: var(--main-font);
  width: 75%;
}

form.login input:focus {
  outline: none;
  box-shadow: var(--box-shadow-sinkIn);
}

.sign-in-btn,
.redirect {
  width: 12rem;
  color: var(--text-color-hover);
  letter-spacing: 0.2rem;
  text-align: center;
  line-height: var(--btn-height);
  vertical-align: middle;
  background-color: var(--btn-background-color);
  border-radius: calc(var(--element-radius) / 2);
  cursor: pointer;
}

.not-registered {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.redirect > a {
  text-decoration: none;
  color: var(--text-color-hover);
  font-family: var(--main-font);
}

/* .redirect {
  color: black;
  background-color: var(--element-background-color);
  border-radius: var(--element-radius);
  padding: 1em;
} */

.redirect:hover {
  cursor: pointer;
}

.not-registered-text {
  font-family: var(--main-font);
  color: var(--text-color-hover);
  font-size: 1.2rem;
  text-shadow: var(--text-shadow-active);
}
